<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>USER LIST</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">


	<script>
		function changeYYYYmmSelect(){
			var ym = $("#sbxYm").val();
			console.log(ym);
			location.href = '/room/roomList?yyyyMM='+ym;
		}
	</script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

        <th:block th:include="/include/sidebar"/>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:include="/include/topbar" ></th:block>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-2 text-gray-800">객실 이용 현황</h1>
                        <a href="/room/excelDownload" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Excel Download</a>
					</div>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row gx-1 mb-1">

                                <div class="col-md-2">
                                	<label class="small mb-1">검색 년월</label>
                                    <select id="sbxYm" class="custom-select custom-select form-control form-control-sm"
                                    aria-label="Default select example" th:onchange="changeYYYYmmSelect()">
                                        <option th:each="ym : ${ymList}" th:value="${ym.code}" th:text="${ym.value}"
                                        	th:selected="${ym.value} == ${dateInfo.yyyyMM}"/>
                                    </select>
                                </div>


                             </div>
                        </div>

                        <div class="card-body">
							<div class="table-responsive-sm">
                                <table class="table-sm table-bordered table-hover" style="font-size: 0.7rem;" id="dataTable" width="100%">
                                    <colgroup>
                                    	<col style="width: auto;"/>
                                    	<th:block th:each="day : ${#numbers.sequence(1,endDay)}">
											<col style="width: 3.1%;"/>
										</th:block>

                                    </colgroup>
                                    <thead>
                                      	<tr>
                                            <th>방번호</th>
                                            <th:block th:each="day : ${#numbers.sequence(1,endDay)}">
												<th th:text="${day}"></th>

											</th:block>


                                        </tr>


                                    </thead>

                                    <tbody>

                                        <tr th:each="rm : ${list}" >
                                            <td><span  th:text="${rm.roomNo}" th:onclick="|location.href='@{/room/roomDetail(roomNo=${rm.roomNo},yyyyMM=${dateInfo.yyyyMM})}'|"/></td>
                                            <th:block th:each="ymd : ${#numbers.sequence(dateInfo.startYmd,dateInfo.endYmd)}">
												<!--<td><span  th:text="${day}"/></td>-->

												<!--<td><span th:if="${#strings.equals(rm.startDay, day) }" th:text="X"/></td>-->

													<td>
														<th:block th:each="rv : ${rvlist}">
														<!--<span th:if="${#strings.equals(rm.roomNo, rv.roomNo)} " th:text="X"/>-->
														<div style="background-color:dodgerblue ; color:dodgerblue ; width: 132%; margin-left: -6px;"
															th:if="${#strings.equals(rm.roomNo, rv.roomNo)} and ${rv.startYmd} <= ${ymd} and ${rv.endYmd} >= ${ymd} and ${dateInfo.currYmd}"
															th:text="'IN'" th:onclick="|location.href='@{/user/userDetail(mCd=${rv.mCd},pageCd='RL')}'|">
														</div>
														<!--<div style="background-color:brown ; color:brown ; width: 135%; margin-left: -5px;"
															th:if="${#strings.equals(rm.roomNo, rv.roomNo)} and ${rv.startYmd} <= ${ymd} and ${rv.endYmd} >= ${ymd} and ${dateInfo.currYmd} >= ${ymd}"
															th:text="'IN'" th:onclick="|location.href='@{/user/userDetail(mCd=${rv.mCd},pageCd='RL')}'|"/>-->
														</th:block>
													</td>

											</th:block>


                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <th:block th:include="/include/footbar"/>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>



    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-room-demo.js"></script>





</body>

</html>