<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KMC Admin -User Info</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

		<script src="/vendor/jquery/jquery.min.js"></script>
		<script type="text/javascript">


		  function fn_userUpdate_onclick(){
			  var params = {};

			  	params.mCd                      = $("#ibx_kmcCd").val();
				params.statusCd                 = $("#sbx_statusCd option:selected").val();
				params.userNm                     = $("#ibx_name").val();
				params.birthYmd                 = $("#ibx_birthYmd").val();
				params.phoneNum                 = $("#ibx_phoneNum").val();
				params.email                    = $("#ibx_email").val();
				params.marriedYn                = $("#sbx_marriedYn option:selected").val();
				params.spouseNm                 = $("#ibx_spouseNm").val();

			  	params.countryCd                = $("#sbx_countryCd option:selected").val();
				//params.locationNm               = $("#ibx_locationNm").val();
				//params.ms1Cd                    = $("#sbx_ms1Cd option:selected").val();
				//params.ms2Cd                    = $("#sbx_ms2Cd option:selected").val();
				//params.ms3Cd                    = $("#sbx_ms3Cd option:selected").val();
				//params.msAgencyNm               = $("#ibx_msAgencyNm").val();
				//params.msAgencyPhoneNum         = $("#ibx_msAgencyPhoneNum").val();
				//params.msAgencyAddr             = $("#ibx_msAgencyAddr").val();

				//params.dispatchAgencyCd         = $("#sbx_dispatchAgencyCd option:selected").val();
				//params.dispatchAgencyNm         = $("#ibx_dispatchAgencyNm").val();
				//params.dispatchAgencyPhoneNum1  = $("#ibx_dispatchAgencyPhoneNum1").val();
				//params.dispatchDmnCd            = $("#sbx_dispatchDmnCd option:selected").val();
				//params.dispatchDmnNm            = $("#ibx_dispatchDmnNm").val();
				//params.dispatchAgencyPhoneNum2  = $("#ibx_dispatchAgencyPhoneNum2").val();
				//params.dispatchChurchNm         = $("#ibx_dispatchChurchNm").val();
				//params.dispatchYear             = $("#ibx_dispatchYear").val();


			$.ajax({
				url : "/user/userUpdate"
				,type: "POST"
				,data: params
				,success: function(data){
					alert("저장했습니다.");
				}
			});

		  }

	</script>

</head>

<body id="page-top">


    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <th:block th:include="/include/sidebar"/>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:include="/include/topbar" ></th:block>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
					<div class="d-sm-flex align-items-left justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" >사용자 정보</h1>
                        <a class="btn btn-success btn-icon-split btn-lg " th:onclick="fn_userUpdate_onclick()">
							<span class="icon text-white-50">
								<i class="fas fa-save"></i>
							</span>
							<span class="text">사용자정보 저장 </span>
						</a>
						<!--<a th:if="${pageCd} =='RL'" href="/room/roomList" class="btn btn-primary btn-icon-split btn-lg">
							<span class="icon text-white-50">
								<i class="fas fa-arrow-left"></i>
							</span>
							<span class="text">목록으로 돌아가기 </span>
						</a>
						<a th:if="${pageCd} =='UL'" href="/user/userList" class="btn btn-primary btn-icon-split btn-lg">
							<span class="icon text-white-50">
								<i class="fas fa-arrow-left"></i>
							</span>
							<span class="text">목록으로 돌아가기 </span>
						</a>-->

                    </div>

                    <!-- Main page content-->
                   <div class="row">
                        <div class="col-xl-4" >
                            <!-- Profile picture card-->
                            <div class="card mb-4">
                                <div class="card-header">
                                	<h6 class="m-0 font-weight-bold text-primary">프로필 사진</h6>
                                </div>
                                <div class="card-body text-center" style="height: 23rem;" th:switch="${photoCd}">
                                    <!-- Profile picture image-->
                                    <img class="img-account-profile rounded-circle mb-2" style="height:15rem" src="/img/undraw_profile.svg" th:case="0" alt="">
                                    <img class="img-account-profile rounded-circle mb-2" style="height:15rem" src="/img/undraw_profile_1.svg" th:case="1" alt="">
                                    <img class="img-account-profile rounded-circle mb-2" style="height:15rem" src="/img/undraw_profile_2.svg" th:case="2" alt="">
                                    <img class="img-account-profile rounded-circle mb-2" style="height:15rem" src="/img/undraw_profile_3.svg" th:case="3" alt="">
                                    <!-- Profile picture help block-->
                                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                                    <!-- Profile picture upload button-->
                                    <button class="btn btn-primary" type="button">Upload new image</button>
                                </div>
                            </div>
                            <!-- Profile picture card END-->
                        </div>

						 <!-- Profile 기본정보 card-->
                        <div class="col-xl-8" >
                            <div class="card mb-4">
                                <div class="card-header">
                                	<h6 class="m-0 font-weight-bold text-primary">기본정보</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (mCd)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputMCode">Missionary Code</label>
                                            <input class="form-control" id="ibx_kmcCd" type="text" placeholder="Enter your missionary code" th:value="${user.mCd}">
                                        </div>
                                        <!-- Form Group ( statusCd )-->
                                        <div class="col-md-6">
                                        	<label class="small mb-1">상태</label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example" name="sbx_statusCd" id="sbx_statusCd">
                                                <option value="" selected="" disabled="">선택</option>
                                               	<option th:value="00" th:selected="${user.statusCd} == '00'">미승인 </option>
												<option th:value="10" th:selected="${user.statusCd} == '10'">승인 </option>

												<option th:value="90" th:selected="${user.statusCd} == '90'">관리</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
										<!-- Form Group (name)-->
                                        <div class="col-sm-6">
                                            <label class="small mb-1" for="inputName">Name : </label>
                                            <input class="form-control" id="ibx_name" type="text" placeholder="Enter your first name" th:value="${user.userNm}">
                                        </div>
                                        <!-- Form Group (birthYmd)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputBirthYmd">Birth Day</label>
                                            <input class="form-control" id="ibx_birthYmd" type="text" placeholder="Enter your birthday" th:value="${user.birthYmd}">
                                        </div>

                                    </div>

                                    <div class="row gx-3 mb-3">
										<!-- Form Group (phoneNum)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputPhoneNum">Phone Number</label>
                                            <input class="form-control" id="ibx_phoneNum" type="text" placeholder="Enter your phone number" th:value="${user.phoneNum}">
                                        </div>
                                         <!-- Form Group (email)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputEmail">Email</label>
                                            <input class="form-control" id="ibx_email" type="email" placeholder="Enter your email" th:value="${user.email}">
                                        </div>
                                    </div>

                                    <div class="row gx-3 mb-3">
										<!-- Form Group ( marriedYn )-->
                                        <div class="col-md-6">
                                        	<label class="small mb-1">결혼여부 </label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example" name="sbx_marriedYn" id="sbx_marriedYn">
                                                <option value="" selected="" disabled="">선택</option>
                                               	<option th:value="Y" th:selected="${user.marriedYn} == 'Y'">기혼 </option>
												<option th:value="N" th:selected="${user.marriedYn} == 'N'">미혼 </option>

                                            </select>
                                        </div>
										<!-- Form Group (spouseNm)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputEmail">배우자이름</label>
                                            <input class="form-control" id="ibx_spouseNm" type="text" placeholder="배우자 이름 " th:value="${user.spouseNm}">
                                        </div>

                                    </div>
	                            </div>
                            </div>
                        </div>
                        <!-- Profile 기본정보 card END-->


						<!-- Account 사역정보 card-->
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                	<h6 class="mb-0 font-weight-bold text-primary">사역정보</h6>
                                 	<!-- Submit button-->
                                    <!--<button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button">Save changes</button>-->

                                </div>
	                            <div class="card-body">
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (countryCd)-->
                                        <div class="col-md-6">
                                        	<label class="small mb-1">파송국가</label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example" name="sbx_countryCd" id="sbx_countryCd">
                                                <option value="" selected="" disabled="">선택</option>
                                                <option th:value="MN" th:selected="${user.countryCd} == 'MG'">몽골</option>
                                                <option th:value="MM" th:selected="${user.countryCd} == 'MM'">미얀마</option>
                                                <option th:value="JP" th:selected="${user.countryCd} == 'JP'">일본</option>
                                                <option th:value="ID" th:selected="${user.countryCd} == 'ID'">인도네시아</option>
                                                <option th:value="MY" th:selected="${user.countryCd} == 'MY'">말레이시아</option>
                                                <option th:value="MP" th:selected="${user.countryCd} == 'MP'">티니안</option>
                                                <option th:value="IL" th:selected="${user.countryCd} == 'IL'">이스라엘</option>

                                            </select>
                                        </div>

                                        <!-- Form Group (countryNm)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputCountryCd">지역/도시</label>
                                            <input class="form-control" id="ibx_locationNm" type="text" placeholder="지역/도시 " th:value="${user.locationNm}">
                                        </div>
                                    </div>

                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (주요사역 1)-->
                                        <div class="col-md-4">
                                        	<label class="small mb-1">주요사역1</label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example" name="sbx_ms1Cd" id="sbx_ms1Cd">
                                                <option value="" selected="" disabled="">선택</option>
                                                <option th:value="100" th:selected="${user.ms1Cd} == '100'">MK사역</option>
												<option th:value="200" th:selected="${user.ms1Cd} == '200'">교회개척</option>
												<option th:value="300" th:selected="${user.ms1Cd} == '300'">문서/출판</option>
												<option th:value="400" th:selected="${user.ms1Cd} == '400'">문화/스포츠</option>
												<option th:value="500" th:selected="${user.ms1Cd} == '500'">비즈니스</option>
                                            </select>
                                        </div>
                                        <!-- Form Group (주요사역 2)-->
                                        <div class="col-md-4">
                                        	<label class="small mb-1">주요사역2</label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example" name="sbx_ms2Cd" id="sbx_ms2Cd" >
                                                <option value="" selected="" disabled="">선택</option>
                                                <option th:value="100" th:selected="${user.ms2Cd} == '100'">MK사역</option>
												<option th:value="200" th:selected="${user.ms2Cd} == '200'">교회개척</option>
												<option th:value="300" th:selected="${user.ms2Cd} == '300'">문서/출판</option>
												<option th:value="400" th:selected="${user.ms2Cd} == '400'">문화/스포츠</option>
												<option th:value="500" th:selected="${user.ms2Cd} == '500'">비즈니스</option>
                                            </select>
                                        </div>

                                        <!-- Form Group (주요사역 3)-->
                                        <div class="col-md-4">
                                        	<label class="small mb-1">주요사역3</label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example" name="sbx_ms3Cd" id="sbx_ms3Cd">
                                                <option value="" selected="" disabled="">선택</option>
                                               	<option th:value="100" th:selected="${user.ms3Cd} == '100'">MK사역</option>
												<option th:value="200" th:selected="${user.ms3Cd} == '200'">교회개척</option>
												<option th:value="300" th:selected="${user.ms3Cd} == '300'">문서/출판</option>
												<option th:value="400" th:selected="${user.ms3Cd} == '400'">문화/스포츠</option>
												<option th:value="500" th:selected="${user.ms3Cd} == '500'">비즈니스</option>

                                            </select>
                                        </div>
                                    </div>


                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (현지사역기관 또는 단체)-->
                                        <div class="col-sm-6">
                                            <label class="small mb-1" for="inputName">현지사역기관 또는 단체</label>
                                            <input class="form-control" id="ibx_msAgencyNm" type="text" placeholder="현지사역기관 또는 단체" th:value="${user.msAgencyNm}">
                                        </div>
                                        <!-- Form Group (현지사역기관연락처-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputMCode">현지사역기관연락처</label>
                                            <input class="form-control" id="ibx_msAgencyPhoneNum" type="text" placeholder="현지사역기관연락처" th:value="${user.msAgencyPhoneNum}">
                                        </div>
                                    </div>
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (현지사역기관 주소)-->
                                        <div class="col-md-12">
                                            <label class="small mb-1" for="inputBirthYmd">현지사역기관 주소</label>
                                            <input class="form-control" id="ibx_msAgencyAddr" type="text" placeholder="현지사역기관 주소" th:value="${user.msAgencyAddr}">
                                        </div>
                                    </div>
	                            </div>
                            </div>
                        </div>






                        <div class="col-xl-12">
                            <!-- Account details card-->
                            <div class="card mb-4">
                                <div class="card-header">
                                	<h6 class="mb-0 font-weight-bold text-primary">파송정보</h6>
                                 	<!-- Submit button-->
                                    <!--<button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="button">Save changes</button>-->

                                </div>
	                            <div class="card-body">
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-4">
                                        	<label class="small mb-1">파송단체(기관)</label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example" name="sbx_dispatchAgencyCd" id="sbx_dispatchAgencyCd" >
                                                <option value="" selected="" disabled="">선택</option>
                                                <option value="A100" th:selected="${user.dispatchAgencyCd} == 'A100'">새중앙교회선교부</option>
												<option value="A200" th:selected="${user.dispatchAgencyCd} == 'A200'">예수전도단</option>
												<option value="A300" th:selected="${user.dispatchAgencyCd} == 'A300'">굿네이버스</option>
												<option value="A400" th:selected="${user.dispatchAgencyCd} == 'A400'">한국국제선교회</option>
												<option value="AETC" th:selected="${user.dispatchAgencyCd} == 'AETC'">기타</option>

                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1" for="inputName">파송단체(기관) </label>
                                            <input class="form-control" id="ibx_dispatchAgencyNm" type="text" placeholder="파송단체(기관)" th:value="${user.dispatchAgencyNm}">
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-4">
                                            <label class="small mb-1" for="inputName">파송단체(기관) 연락처1</label>
                                            <input class="form-control" id="ibx_dispatchAgencyPhoneNum1" type="text" placeholder="파송단체(기관) 연락처1" th:value="${user.dispatchAgencyPhoneNum1}">
                                        </div>
                                    </div>

                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-4">
                                        	<label class="small mb-1">파송교단</label>
                                            <select class="custom-select custom-select form-control form-control-sm"
                                            aria-label="Default select example"  name="sbx_dispatchDmnCd" id="sbx_dispatchDmnCd">
                                                <option value="" selected="" disabled="">선택</option>
                                                <option value="D100" th:selected="${user.dispatchDmnCd} == 'D100'">새중앙교회선교부</option>
												<option value="D200" th:selected="${user.dispatchDmnCd} == 'D200'">예수전도단</option>
												<option value="D300" th:selected="${user.dispatchDmnCd} == 'D300'">굿네이버스</option>
												<option value="D400" th:selected="${user.dispatchDmnCd} == 'D400'">한국국제선교회</option>
												<option value="DETC" th:selected="${user.dispatchDmnCd} == 'DETC'">기타</option>

                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="small mb-1" for="inputName">파송교단 </label>
                                            <input class="form-control" id="ibx_dispatchDmnNm" type="text" placeholder="파송교단" th:value="${user.dispatchDmnNm}">
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-4">
                                            <label class="small mb-1" for="inputName">파송단체(기관) 연락처2</label>
                                            <input class="form-control" id="ibx_dispatchAgencyPhoneNum2" type="text" placeholder="파송단체(기관) 연락처2" th:value="${user.dispatchAgencyPhoneNum2}">
                                        </div>
                                    </div>


                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputDispatchChurchNm">파송교회 </label>
                                            <input class="form-control" id="ibx_dispatchChurchNm" type="text" placeholder="파송교회" th:value="${user.dispatchChurchNm}">
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-6">
                                            <label class="small mb-1" for="inputDispatchYear">파송년도</label>
                                            <input class="form-control" id="ibx_dispatchYear" type="text" placeholder="파송년도" th:value="${user.dispatchYear}">
                                        </div>
                                    </div>

                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (file)-->
                                        <div class="col-md-12">
                                            <label class="small mb-1" for="inputDispatchFile">첨부파일 </label>
                                            <input class="form-control" id="ibx_dispatchFile" type="file" placeholder="첨부파일" >
                                        </div>

                                    </div>
	                            </div>
                            </div>

                        </div>
                        <!-- end -->
						<form id="userForm" th:action="@{'/user/userUpdate'}" method="POST" >
							<!-- Profile 파송정보 card-->
							<input class="form-control" style="display:none;" name="countryCd" type="text" placeholder="파송국가 " th:value="${user.countryCd}">
							<input class="form-control" style="display:none;" name="locationNm" type="text" placeholder="지역/도시 " th:value="${user.locationNm}">
							<input class="form-control" style="display:none;" name="ms1Cd" type="text" placeholder="주요사역1 " th:value="${user.ms1Cd}">
							<input class="form-control" style="display:none;" name="ms2Cd" type="text" placeholder="주요사역2 " th:value="${user.ms2Cd}">
							<input class="form-control" style="display:none;" name="ms3Cd" type="text" placeholder="주요사역3 " th:value="${user.ms3Cd}">
							<input class="form-control" style="display:none;" id="msAgencyNm" name="msAgencyNm" type="text" placeholder="현지사역기관 또는 단체" th:value="${user.msAgencyNm}">
							<input class="form-control" style="display:none;" name="msAgencyPhoneNum" type="text" placeholder="현지사역기관연락처" th:value="${user.msAgencyPhoneNum}">
							<input class="form-control" style="display:none;" name="msAgencyAddr" type="text" placeholder="현지사역기관 주소" th:value="${user.msAgencyAddr}">
							<!-- end -->
							<!-- Profile 기본정보 card-->

							<input class="form-control" style="display:none;" name="mCd" type="text" placeholder="Enter your missionary code" th:value="${user.mCd}">
							<input class="form-control" style="display:none;" name="statusCd" type="text" placeholder="상태" th:value="${user.statusCd}">
							<input class="form-control" style="display:none;" name="name" type="text" placeholder="Enter your first name" th:value="${user.name}">
							<input class="form-control" style="display:none;" name="birthYmd" type="text" placeholder="Enter your birthday" th:value="${user.birthYmd}">
							<input class="form-control" style="display:none;" name="phoneNum" type="text" placeholder="Enter your phone number" th:value="${user.phoneNum}">
							<input class="form-control" style="display:none;" name="email" type="email" placeholder="Enter your email" th:value="${user.email}">
							<input class="form-control" style="display:none;" name="marriedYn" type="email" placeholder="결혼여부" th:value="${user.marriedYn}">
							<input class="form-control" style="display:none;" name="spouseNm" type="text" placeholder="배우자 이름 " th:value="${user.spouseNm}">
							<!-- end -->

							<!-- Profile 파송정보 card-->

							<input class="form-control" style="display: none;" name="dispatchAgencyCd" type="text" placeholder="파송단체(기관)" th:value="${user.dispatchAgencyCd}">
							<input class="form-control" style="display: none;" name="dispatchAgencyNm" type="text" placeholder="파송단체(기관)" th:value="${user.dispatchAgencyNm}">
							<input class="form-control" style="display: none;" name="dispatchAgencyPhoneNum1" type="text" placeholder="파송단체(기관) 연락처1" th:value="${user.dispatchAgencyPhoneNum1}">
							<input class="form-control" style="display: none;" name="dispatchDmnCd" type="text" placeholder="파송교단" th:value="${user.dispatchDmnCd}">
							<input class="form-control" style="display: none;" name="dispatchDmnNm" type="text" placeholder="파송교단" th:value="${user.dispatchDmnNm}">
							<input class="form-control" style="display: none;" name="dispatchAgencyPhoneNum2" type="text" placeholder="파송단체(기관) 연락처2" th:value="${user.dispatchAgencyPhoneNum2}">
							<input class="form-control" style="display: none;" name="dispatchChurchNm" type="text" placeholder="파송교회" th:value="${user.dispatchChurchNm}">
							<input class="form-control" style="display: none;" name="dispatchYear" type="text" placeholder="파송년도" th:value="${user.dispatchYear}">

							<!-- end -->

						</form>
					</div>
					<div class="row">
                         <!-- 이용이력  -->
						<div class="col-xl-6">
							<div class="card mb-4">
								<div class="card-header py-3">
									<h6 class="m-0 font-weight-bold text-primary">이용이력</h6>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-bordered table-sm text-center" id="dataTable" width="100%" cellspacing="0">
											<colgroup>

												<col style="width: 30%;" />
												<col style="width: 10%;" />
												<col style="width: 30%;" />
												<col style="width: 30%;" />
											</colgroup>

											<thead>
												<tr>

													<th>방번호</th>
													<th>인원</th>
													<th>시작일</th>
													<th>종료일</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="rv : ${rvList}" th:onclick="|location.href='@{/user/userDetail(mCd=${rv.mCd})}'|">
													<td><span th:text="${rv.roomNo} " /></td>
													<td><span th:text="${rv.familyCnt} " /></td>
													<td><span th:text="${rv.startDate} " /></td>
													<td><span th:text="${rv.endDate} " /></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!--card body -->
							</div>
						</div>
                        <!-- 이용이력  -->


                       <!-- 상담내역  -->
                        <div class="col-xl-6">
		                    <div class="card mb-4">
		                        <div class="card-header py-3">
		                            <h6 class="m-0 font-weight-bold text-primary">상담내역</h6>
		                        </div>
		                        <div class="card-body">
		                            <div class="table-responsive">
		                                <table class="table table-bordered table-sm text-center" id="dataTable" width="100%" cellspacing="0">
		                                    <colgroup>
										    	<col style="width: 10%;"/>
										        <col style="width: 60%;"/>
										        <col style="width: 30%;"/>


										    </colgroup>

		                                    <thead>
		                                        <tr>
		                                            <th>순번</th>
		                                            <th>상담일</th>
		                                            <th>상담자</th>

		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr>
		                                            <td>1</td>
		                                            <td>2020/03/01</td>
		                                            <td>Jason Song</td>
		                                        </tr>
		                                        <tr>
		                                            <td>2</td>
		                                            <td>2021/03/01</td>
		                                            <td>Jason Song</td>
		                                        </tr>
		                                        <tr>
		                                            <td>3</td>
		                                            <td>2022/03/01</td>
		                                            <td>Jason Song</td>
		                                        </tr>
		                                         <tr>
		                                            <td>4</td>
		                                            <td>2023/03/01</td>
		                                            <td>Jason Song</td>
		                                        </tr>
		                                     </tbody>
		                                  </table>
                              			</div>
                                	</div>
                                	<!--card body -->
                             	</div>
                        </div>
                        <!-- 상담내역  -->

                    </div>
                     <!-- Main page content-->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->


            <!-- Footer -->
            <th:block th:include="/include/footbar"/>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>





    <!-- Bootstrap core JavaScript-->

    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>